html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* menu */

.menu-screen,
.menu-screen * {
  box-sizing: border-box;
  height: 100%;
}
.menu-screen {
  background: #bbbff3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.beepboop {
  width:  clamp(100px, 80vw, 110vh);
  height: auto;
  object-fit: contain;
  max-width: 1134px; 
  max-height: 355px; 
  position: relative;
  object-fit: cover;
}

@media (max-width: 768px) {
  .beepboop {
    max-width: 90%; /* Adjusts the max width for smaller screens */
    max-height: 250px; /* Adjusts the max height for smaller screens */
  }
}

.remote {
  background: #192f4e;
  border-radius: 25px 25px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  flex: 1;
  max-width: 1238px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  padding: 10px; 
}

.button {
  flex-grow: 1;
  width: clamp(150px, 20vw, 346px);
  max-width: 346px; 
  max-height: 558px; 
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.beepboopText {
  color: #fdf3f0;
  text-align: center;
  font-family: "RobotoMono-Bold", sans-serif;
  font-size: clamp(16px, 5vw, 8vh); /* minimum, preferred, max */
  font-weight: 700;
  position: absolute;
  width: 100%;
  top: 0;
}
.onOffButton {
  width: clamp(100px, 35vw, 100%);
  height: clamp(100px, 35vh, 100%);
  object-fit: contain;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
}
.acronym {
  color: #fdf3f0;
  text-align: center;
  font-family: "RobotoMono-Bold", sans-serif;
  width: 100%;
  font-size: clamp(16px, 4vw, 4vh); 
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 70%;
}
.desc {
  color: #fdf3f0;
  text-align: center;
  font-family: "RobotoMono-Regular", sans-serif;
  font-size: clamp(12px, 2vh, 2vw); 
  width: 100%;
  font-weight: 400;
  position: absolute;
  top: 90%;
}

/* return button */

.returnButton,
.returnButton * {
  box-sizing: border-box;
}
.returnButton {
  border-radius: 13px;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: none; 
}

/* 3D canvas */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; 
    width: 100vw;
    height: 100vh;
} 

/* Pop-Up Styles */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #214e3fdc;
  padding: 20px;
  border-radius: 10px;
  z-index: 100;
  color: #fdf3f0;
  width: 30%;
  text-align: left;
  pointer-events: auto;
  font-size:20px;
}

@media (max-aspect-ratio: 7/6) {
  .popup {
    width: 50%;
  }
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2b523b;
  color: #fdf3f0;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

#popupTitle {
  font-size: 30px;
  font-weight: bold;
}

.closeButton {
  font-size: 20px;
  cursor: pointer;
  padding: 0 10px;
  margin-left: 10px;
  z-index: 1000; 
}

/* NYSIO pop-up*/
.popup a {
  color: #add8e6; /* Light blue for links */
  text-decoration: underline;
}

.popup a:hover {
  color: #fdf3f0; /* Light color for hover */
}

/* Preloader container */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fdf3f0; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

/* TV container */
#tv-container {
  width: 200px;
  height: 150px;
  border: 8px solid #333;
  border-radius: 10px;
  background: #bbbff3;
  box-shadow: 0 0 20px rgba(32, 55, 129, 0.8);
  position: relative;
  overflow: hidden;
}

/* TV screen (filling with color) */
#tv-screen {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(to top, #b19ddd, #7c8bdd, #7aa8ce); 
  animation: fillScreen 1s ease-in-out forwards; 
}

/* Keyframes for the filling animation */
@keyframes fillScreen {
  from {
    height: 0;
  }
  to {
    height: 100%; 
  }
}